<link rel = "stylesheet" href = "/styles.css"

<% if Date.today.tuesday? %>
<p> Devorah is <strong> NOT </strong> a fan of Tuesdays like today.
</p>
<p>
Today is <%= Date.today %>
<% end %>




Hi, my name is Devorah. I am the <strong>best<strong>.
<img width = 100 px height = 100 px src = "/earth_moon.jpg"
</body>
	</html>