<html>
<head>
<title>Welcome to The Movie Game!</title>
</head>
<body align = center>
Pick a search word to begin your movie game.
<form action = "/search_word" method = "POST">
<label for "word">Word: </label>
<input name = "word" type = "text" ></input>
<button type = "submit">Go!</button>
</form>


or do a random movie selection.
<form action = "/random_movies" method = "POST">
<button type = "submit">Random!</button>
</form>
</body>
</html>