



<form action = "/publish" method = "POST">

<div>
<label for "title">Title: </label>
<br>
<input name = "title" type = "text" ></input>
</div>
<div>
<label for "author">By: </label>
<br>
<input name = "author" type = "text" ></input>
</div>
<div>
<label for "category">Category: </label>
<br>
<input name = "category" type = "text"></input>
</div>
  <br>
<label for "content">Content: </label>
<br>
<textarea name = "content" type = "text" cols = 100 rows = 40></textarea>
<br>
<button type="submit" >Publish</button>
</form>