// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.today{
	display: inline-block;
	float: left;
	width: 60%;
	margin: 20px;
}
div.next_month{
	display: inline-block;
	float: right;
	width: 30%;
}