// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.today{
	display: inline-block;
	float: left;
	width: 60%;
	margin: 20px;
	/*overflow: scroll;
	height: 500px;*/
}
div.side-bar{
	display: inline-block;
	float: right;
	width: 30%;
}

.concert-heading{
	text-align: center;
}
.concert-description{
	margin: 10px;
	padding: 10px;
}


div.comments{
	padding: 5px;
	width: 100%;
	/*background-color: #fef375;*/
	overflow: scroll;
	height: 200px;
}
.new_comment .label{
	width: 50px;
	text-align: center;
	color:  #2f76ca;
	vertical-align: top;


}
.new_comment .input {
	position: relative;
	left: 30px;
	width:80%;
	border: solid 3px;
	margin: 5px;
	background-color: #dcf9ea;

}
#name_input{
	margin-left: 23px;
}
.user_comment{
	border: solid 3px;
	background-color: white; 
	background-color: #dcf9ea;
}
.special-button{
	background-color: #2f76ca;
	color:  #e18def;
	border: 1px #e18def solid;
	border-radius: 5px;
}
#new-concert .buttons{
	position: relative;
	top: 20px;
}
#form-button{
	position: relative;
	left: 100px;
	
}

#new-concert .field, #concert_city{
	position: absolute;
	left: 90px;
	width: 300px;
}

#new-concert div{
	margin: 5px;
}

#concert_date{
	line-height:22px;
}