<h1>Place a bid</h1>

<%= form_for [@user, @product, @bid] do |f| %>
	<label for = "email"> E-mail </label>
	<input type = "email" name = "user_email">

	<%= f.label :amount%>
	<%= f.text_area :amount %>

	<%= f.button %>
<% end %>