.artist-search{
	text-align: center;
}
.artist-photo{
	margin: 2px;
	display: inline-block;
	float: right;
	
}

#list{
	display: inline-block;
	position: relative;

}

button{
	border-width: 0px;
	background-color: white;
	margin: 2px;
	color: #0baad2;
}
.artist-result{
	background-color: white;
	margin: 5px;
	color:  #4cbc57;
    width: 100%;

}