
<div class = "today">
	<h3> Today's Concerts </h3>
	<% @concerts.each do |concert| %>
		<div>
			<%= link_to "#{concert.artist}", "/concerts/#{concert.id}" %> at <%= concert.venue %>
		</div>
	<%end%>
	<%= link_to "Add upcoming concert", "concerts/new" %>
</div>

   <%= render("shared/sidebar")%>   

