<!-- views/subtract.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Subtract | Online Calculator</title>
</head>
<body>
  <h1>Subtract</h1>
  <form action = "/calculate_subtract" method = "POST">
<label for "first_number">First number: </label>
  <input name = "first_number" type="number" placeholder="1st number"> -
  <label for "second_number">Second number: </label>
  <input name = "second_number" type="number" placeholder="2nd number">
	<button type="submit">Calculate</button>
  </form>

</body>
</html>