<h2> List of users </h2>
<ul>
	<% @users.each do |user| %>
		<li class = "js-user" data-id = "<%=user.id%>"><a href = "/users/<%= user.id %>"><%= user.name %></a></li>
		
	<%end%>
</ul>
<%= link_to "Add a new user", new_user_path %>


