<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<li><%= link_to 'Text inspections', '/text_inspections/new' %></li>
<li><%= link_to 'Asciifier', '/asciis/new' %></li>
<li><%= link_to 'Quotes', '/quotes/new' %></li>
